@import "tailwindcss";

@theme {
  --color-text-color: #edebf5;
  --color-background: #212121;
  --color-hidden: #414141;
  --color-clear: oklch(0.637 0.237 25.331);
  --color-accent: #484491;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
