@import "tailwindcss";

@theme {
  --color-text-color: #edebf5;
  --color-background: #212121;
  --color-hidden: #414141;
  --color-clear: #fb2c36;
  --color-accent-0: #184e77;
  --color-accent-1: #1e6091;
  --color-accent-2: #1a759f;
  --color-accent-3: #168aad;
}
