@import "tailwindcss";

@theme {
  --color-text-color: #edebf5;
  --color-background: #292b2b;
  --color-clear: #fb2c36;
  --color-accent: #3e4042;
  --color-kernel: oklch(0.627 0.194 149.214);
}

@keyframes slideUp {
  from {
    transform: translateY(100%);

    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-up-active {
  animation: slideUp 0.2s ease-out forwards;
}

.slide-down-active {
  animation: slideDown 0.2s ease-out forwards;
}
